<%- include("partials/header") %> <%- include("partials/navbar") %>
<div class="cont">
  <div class="sideContent">
    <div class="side">
      <div class="side-text m-up">
        <h2>Forgot Password?</h2>
      </div>
      <div class="side-btn">
        <p>We are here for you!</p>
      </div>
    </div>
  </div>
  <div class="mainContent">
    <form action="" method="POST">
      <div class="signIn">
        <h2>Forgot your password?</h2>
        <% if(messages.error) {%>
        <div class="alert alert-danger alert-dismissible fade show errors-div" role="alert">
          <%= messages.error %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } else if(messages.success) {%>
        <div class="alert alert-success alert-dismissible fade show errors-div" role="alert">
          <%= messages.success %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
        <label>
          <span>Enter Registered Email</span>
          <input id="" type="email" name="email" />
        </label>
        <button id="forgetButton" type="submit" class="submit submit-btn">Forgot Password</button>
      </div>
    </form>
  </div>
</div>
<%- include("partials/contact-partial") %> <%- include("partials/footer") %>
