<%- include ("../partials/header") %> <%- include ("../partials/navbar") %>
<div></div>
<% if(messages.success) {%>
<div class="alert alert-success alert-dismissible fade show success-div" role="alert">
  <%= messages.success %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<div class="intro-div">
  <div class="intro-details">
    <h1 class="intro-heading">Click N Eat</h1>
    <p>Here, you can find best food around, prepared with lots of love and proper hygiene. Using this website you can order your favorite food at your own convenience.</p>
  </div>
</div>
<div class="menu-div">
  <div class="menu-heading-div">
    <img class="menu-icon" src="images/menu.png" alt="menu-icon" />
    <h1 class="menu-heading">Our Menu</h1>
    <h4>Quality Ingredients, Tasty Meals</h4>
    <div class="short-menu">
      <div class="row">
        <div class="col col-lg-4 menu-item">
          <h2 class="item-heading"><%=photos[randomIndex[0]].title%></h2>
          <p class="item-description"><%=photos[randomIndex[0]].description%></p>
          <hr class="price-separator" />
          <h3 class="item-price">₹<%=photos[randomIndex[0]].price%></h3>
          <hr class="price-separator" />
        </div>
        <div class="col col-lg-4 menu-item">
          <img class="menu-image" src="<%=photos[randomIndex[0]].image%>" alt="food image" />
        </div>
        <div class="col col-lg-4 menu-item">
          <h2 class="item-heading"><%=photos[randomIndex[1]].title%></h2>
          <p class="item-description"><%=photos[randomIndex[1]].description%></p>
          <hr class="price-separator" />
          <h3 class="item-price">₹<%=photos[randomIndex[1]].price%></h3>
          <hr class="price-separator" />
        </div>
      </div>
      <div class="row">
        <div class="col col-lg-4 menu-item">
          <img class="menu-image" src="<%=photos[randomIndex[1]].image%>" alt="food image" />
        </div>
        <div class="col col-lg-4 menu-item">
          <h2 class="item-heading"><%=photos[randomIndex[2]].title%></h2>
          <p class="item-description"><%=photos[randomIndex[2]].description%></p>
          <hr class="price-separator" />
          <h3 class="item-price">₹<%=photos[randomIndex[2]].price%></h3>
          <hr class="price-separator" />
        </div>
        <div class="col col-lg-4 menu-item">
          <img class="menu-image" src="<%=photos[randomIndex[2]].image%>" alt="food image" />
        </div>
      </div>
      <div class="row">
        <div class="col col-lg-4 menu-item">
          <h2 class="item-heading"><%=photos[randomIndex[3]].title%></h2>
          <p class="item-description"><%=photos[randomIndex[3]].description%></p>
          <hr class="price-separator" />
          <h3 class="item-price">₹<%=photos[randomIndex[3]].price%></h3>
          <hr class="price-separator" />
        </div>
        <div class="col col-lg-4 menu-item">
          <img class="menu-image" src="<%=photos[randomIndex[3]].image%>" alt="food image" />
        </div>
        <div class="col col-lg-4 menu-item">
          <h2 class="item-heading"><%=photos[randomIndex[4]].title%></h2>
          <p class="item-description"><%=photos[randomIndex[4]].description%></p>
          <hr class="price-separator" />
          <h3 class="item-price">₹<%=photos[randomIndex[4]].price%></h3>
          <hr class="price-separator" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="explore-menu-div">
  <div class="button">
    <div class="slide"></div>
    <a href="/menu">DISCOVER ENTIRE MENU -></a>
  </div>
</div>

<%- include ("../partials/contact-partial") %> <%- include ("../partials/footer") %>
