<%- include ("../partials/header") %> <%- include ("../partials/navbar") %>
<div class="container1 row">
  <div class="panel col-lg-6">
    <div class="bg-left"></div>
    <div class="content">
      <h1>Click N Eat</h1>
      <p>At Click N Eat, we make best dishes and redefine the food ordering & delivery.</p>
    </div>
  </div>
  <div class="forms-container col-lg-6">
    <div class="signin-signup">
      <!-- Sign in form -->
      <form action="login" method="POST" class="sign-in-form">
        <% if(messages.error) {%>
        <div class="alert alert-danger alert-dismissible fade show errors-div" role="alert">
          <%= messages.error %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } else if(messages.success) {%>
        <div class="alert alert-success alert-dismissible fade show errors-div" role="alert">
          <%= messages.success %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
        <h2 class="title">Sign in</h2>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input type="email" name="email" placeholder="Email" value="<%=messages.email%>" required />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" id="password" name="password" placeholder="Password" autocomplete="off" required />
          <span id="togglePassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
        </div>
        <div class="forget-password-div">
          <a href="/forgetPassword" class="forget-password">Forgot Password?</a>
        </div>
        <input type="submit" value="Sign In" class="btn solid" />
      </form>
      <div class="change-page">
        <p class="social-text">Or Sign up if you have no account yet</p>
        <a href="/register">
          <button class="btn transparent" id="sign-up-btn">Sign up</button>
        </a>
      </div>
    </div>
  </div>
</div>

<script>
  const togglePassword = document.querySelector("#togglePassword");
  const password = document.querySelector("#password");

  togglePassword.addEventListener("click", function (e) {
    // toggle the type attribute
    const type = password.getAttribute("type") === "password" ? "text" : "password";
    password.setAttribute("type", type);
    // toggle the eye slash icon
    this.classList.toggle("fa-eye-slash");
  });
</script>

<%- include ("../partials/contact-partial") %> <%- include ("../partials/footer") %>
