<%- include ("../partials/header") %> <%- include ("../partials/navbar") %>

<div class="container1 row">
  <div class="panel col-lg-6">
    <div class="bg-left"></div>
    <div class="content">
      <h1>Click N Eat</h1>
      <p>At Click N Eat, we make best dishes and redefine the food ordering & delivery.</p>
    </div>
  </div>
  <div class="forms-container col-lg-6">
    <div class="signin-signup">
      <!-- Sign up form -->
      <form action="/register" method="POST" class="sign-up-form" onsubmit="return validate">
        <% if(messages.error) {%>
        <div class="alert alert-danger alert-dismissible fade show errors-div" role="alert">
          <%= messages.error %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
        <h2 class="title">Sign up</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" name="name" placeholder="Name" pattern="^(?!\s*$).+" title="Enter Your Full Name" value="<%=messages.name%>" required />
        </div>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input type="email" name="email" placeholder="Email" value="<%=messages.email%>" required />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" name="password" placeholder="Password" title="Your password must contain uppercase, lowercase, special character and number" pattern="(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$" required />
        </div>
        <div class="input-field">
          <i class="fas fa-phone-alt"></i>
          <input type="text" pattern="[1-9]{1}[0-9]{9}" name="phone" placeholder="Phone Number" title="Enter phone number without country code or 0" value="<%=messages.phone%>" required />
        </div>
        <div class="input-field">
          <i class="fas fa-venus-mars"></i>
          <select name="gender" id="" required>
            <option value="" selected disabled hidden> Gender</option>
            <option value="Male" <%=messages.gender=='Male'?'selected':''%>>Male</option>
            <option value="Female" <%=messages.gender=='Female'?'selected':''%>>Female</option>
            <option value="Other" <%=messages.gender=='Other'?'selected':''%>>Other</option>
          </select>
        </div>
        <div class="input-field">
          <i class="fas fa-calendar"></i>
          <input type="text" name="address" placeholder="Address" pattern="^(?!\s*$).+" onclick="validate()" title="Please fill your address" value="<%=messages.address %>" required />
        </div>

        <input type="submit" class="btn signUpBtn" value="Sign up" />
      </form>
      <div class="change-page">
        <p class="social-text">Or sign in if you already has an account</p>
        <a href="/login">
          <button class="btn transparent" id="sign-in-btn">Sign in</button>
        </a>
      </div>
    </div>
  </div>
</div>

<script>
  const sign_in_btn = document.querySelector("#sign-in-btn");
  const sign_up_btn = document.querySelector("#sign-up-btn");
  const container = document.querySelector(".container1");

  // Validations
  const formFields = document.querySelectorAll("input");
  let isEverythingValid = false;
  const patterns = {
    name: new RegExp("^(?!\s*$).+"),
    email: /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/,
    password: /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/,
    phone: /^\d{10}$/,
    address: new RegExp("^(?!\s*$).+"),
  };

  // validation function
  function validate(field, regex) {
    var fieldTarget = field.target;
    if (regex.test(fieldTarget.value)) {
      field.path[1].classList.remove("invalid");
      isEverythingValid = true;
    } else {
      field.path[1].classList.add("invalid");
      isEverythingValid = false;
    }
  }

  formFields.forEach((formField) => {
    formField.addEventListener("keyup", (e) => {
      console.log(e);
      validate(e, patterns[e.target.attributes.name.value]);
    });
  });
</script>

<%- include ("../partials/footer") %> <%- include ("../partials/contact-partial") %>
